/Thesis.pdf
/Thesis.toc
/Thesis.aux
/Thesis.bbl
/Thesis.blg
/Thesis.dvi
/Thesis.log
/Thesis.out
/EDOC WS draft v1.dvi
/EDOC WS draft v1.log
/EDOC WS draft v1.pdf
/EDOC WS draft v1.aux
/EDOC WS draft v1.bbl
/EDOC WS draft v1.blg
