*.pdf
*.log
*.synctex.gz
*.aux
*.dvi
*.log
*.aux
*.bbl
*.blg
*.toc
*.out
*.bak
*.tks
*.ps
*.vsd
*.~vsd
*.emf
archive/

#exceptions
!Thesis Part1 Draft1.pdf
!Decentralized EA - EDOC TEAR.pdf
!TSpeckert Thesis Part1-3 Draft2.pdf
!TSpeckert Thesis Part1-3 Draft3.pdf
!TSpeckert Thesis Part1-3 Draft4.pdf